body{
  background-color: #383535;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
}
.div__counter{
  align-items: center;
  background-color: #FFBC2F;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 180px;
  justify-content: center;
  margin: 30px auto;
  width: 40%;
}

button{
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: x-large;
  padding: 10px 20px;
  margin: 10px;
}
.button__plus{
  background-color: green;
}
.button__minus{
  background-color: brown;
}
.button__reset{
  background-color: grey;
}


/* !Footer */
.copyright{
  position: absolute;
  width: 99%;
  bottom: 0;
}

.copyright a{
  text-decoration: none;
  color: #FFBC2F;
}
